.features-block-2 {
    background: #fff;
    padding: 100px 0;
    font-family: "raleway", sans-serif;
}

.features-block-2 h2 {
    font-size: 2.6rem;
    margin-bottom: 0.4em;
    line-height: 3.2rem;
}

.features-block-2 .subtitle {
    width: 75%;
    margin: 0 auto; 
}

.features-block-2 h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.features-block-2 p {
    font-size: 1rem;
}

.features-block-2 a {
    color: #ff0000;
    font-weight: 500;
    font-size: 1rem;
}

@media (max-width: 768px) {
  .features-block-2 h2 {
    font-size: 1.85rem;
    line-height: 2.6rem;
  }
  .features-block-2 p {
    font-size: 1rem;
  }
  .features-block-2 h3 {
    font-size: 1.15rem;
  }
}